<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
</head>
<body>
    <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
        {% for response in yelpapi %}
            <li>{{ response }}</li>
        {% endfor %}
        </div>
    </div>
</body>
</html>
